@model List<Request>

<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Candidate List</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Jobs</a></li>
                                <li class="breadcrumb-item active">Candidate List</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row" id="candidate-list">
                @foreach (var request in Model)
                {
                    <div class="col-xl-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-start mb-3">
                                    <div class="flex-grow-1">
                                        <span class="badge badge-soft-success">Date: @request.Date</span>
                                    </div>
                                </div>
                                <div class="text-center mb-3">
                                    <img src="assets/images/users/avatar-1.jpg" alt="" class="avatar-sm rounded-circle" />
                                    <h6 class="font-size-15 mt-3 mb-1">@request.User.Firstname @request.User.Lastname</h6>
                                    <p class="mb-0 text-muted">@request.Product.Name</p>
                                </div>
                                <div class="d-flex mb-3 justify-content-center gap-2 text-muted">
                                    <div>
                                        Brand: @request.Product.Brand
                                    </div>
                                </div>
                                <div class="hstack gap-2 justify-content-center">
                                    <span class="badge badge-soft-secondary">Quantity: @request.Quantity</span>
                                    <span class="badge badge-soft-secondary">Amount: @request.Total</span>
                                </div>
                                <div class="mt-4 pt-1">
                                    <form action="@Url.Action("ApproveRequest", "Admin")" method="post">
                                        <input type="hidden" name="requestId" value="@request.Id" />
                                        <button type="submit" class="btn btn-soft-primary d-block">Approve</button>
                                    </form>
                                    <form action="@Url.Action("RejectRequest", "Admin")" method="post">
                                        <input type="hidden" name="requestId" value="@request.Id" />
                                        <button type="submit" class="btn btn-soft-primary d-block mt-4">Reject</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div> <!-- container-fluid -->
    </div><!-- End Page-content -->
